{% extends 'appfind/base.html' %}
{% load crispy_forms_tags %}
    {% block content %}
    <div class="row justify-content-center pb-5 mb-5">
        <div class="col-12 col-md-6 form-wrap">
            <form method = "POST" class="form form-container">
                {% csrf_token %}
                <h1 class="text-center">Inicio de Sesión</h1>
                {{form|crispy}}
                <button type="submit" id="submit" class="btn btn-dark text-warning active mt-3">INICIAR SESIÓN</button>
            </form>
        </div>
    </div>    
    {% endblock %}