{% extends 'appfind/base.html' %}
{% load static%}
    {% block content %}
    <div class="row justify-content-start">
        <div class="col-auto">
            <h2>¿Quiénes Somos?</h2>
        </div>
      </div>
      </div>
    </div><br>
    <section class="fijar">
        <section class="patamaño">
            <p>Find a Roomie! Chile nace de la idea personal de un estudiante que cursa un proceso de formación en un bootcamp full stack Python 
                en la institución  Awakelab - Adalid Chile como proyecto escalable de toda la formación como DevOps. 
             </p><br>
            <p>La necesidad de crear Find a Roomie! Chile, surge desde el deficit que tiene el rubro inmobiliario en Chile para disponer de arriendos de piezas en distintos
                tipos de viviendas, facilitando el contacto directo entre la persona que tiene un lugar para arrendar con la persona que busca un lugar para vivir "Roomies".
                Santiago de Chile como capital Chilena, a traves del tiempo se ha convertido en punto central financiero del país, debido a la fuerza económica, empresarial
                y la oferta laboral se segrega en la región, por lo que el costo de la vida y el interes de nacionales y extranjeros ha ido en aumento.
            </p>
            <p>Es por ello que pensar en conseguir un roommate para compartir gastos fijos de la vida cotidiana se vuelve atractivo, llegando hasta ser una nueva
                tendencia para aquellas personas que se encuentran solas, tienen un espacio al que sacarle provecho, intercambios internacionales, estudiantes de otras regiones,
                entre otras razones. 
            </p>
        </section><br>
        <section>
            <h2 class="jus">Misión</h2>
            <p class="patamaño">Nuestra misión es garantizar que todos nuestros usuarios encuentren su match Roomie a tan solo un click.</p>
        </section><br>
        <section>
        <h2 class="jus">Visión</h2>
        <p class="patamaño">Nuestra visión es llegar a ser la plataforma de busqueda de piezas en arriendo de preferencia de todos los Chilenos y extranjeros del mundo con intereses en Chile. </p>
        </section>
    </section><br>
    <div>
      <p class="patamaño">Para mejorar nuestro sitio o requieres soporte de nuestro grupo ¡contáctanos!, gestionemos justos la comunidad
        Find a Roomie! Chile.</p>
    </div><br>
    {% endblock %}